$default: "SFUIDisplay-Regular";
$semiBold: "SFUIDisplay-Semibold";

$titleColor: #616372;
$textColor: #898a95;

$pink: #f44a65;
$green: #59c59f;
$blue: #94d9d4;
$grey: #dfe0e3;
$purple: #cd3ea5;
$darkGreen: #5f8a87;

// color for 4 steps
$violet: #917af7;
$lightPink: lighten($pink, 20%);
$darkBlue: #679ab4;